.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;




}

.manschaft {
    width: 45%;
    margin-right: 10px;
    margin-left: 50px;
}

.manschaft img {
    width: 100%;

}


.manschaft p {
    font-size: medium;
}

@media (max-width:800px) {
  .manschaft {
    width: 100%;
  }
    
}
