 .contact-form {
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    border-radius: 5px;
    background-image: url(../assets/Allianz-Arena2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%;

  }
  .contact-form label {
    display: block;
    font-size:x-large;
    margin-bottom: 8px;
    color: red;
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 1.5px solid red;
    border-radius: 5px;
    margin-bottom: 16px;
    box-sizing: border-box;
 
  }
  .contact-form h1 {
    color: red ;
    font-size: 50px;
  
  }

  .form {
    width: 100%;
    margin-right: 100px;
  }
  .contact-form button {
    background-color: red;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
  }

  .contact-form form {
    padding: 20px;
    border-radius: 10px;
    margin-right: 50%;
    background:rgba(255, 255, 255, 0.689);
  }

  .contact-form button:hover {
    background-color: #fff;
    color: red;
  }



 
 
 