

.contact-hero {
    background-image: url(../assets/Allianz-Arena2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}

.contact-hero form {

    text-align: center;
    padding: 150px;
    width: 80%;
    border: 2px solid black;
    
}

