.home-hero-bg {
    background-image: url(../assets/arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    height: 70vh;
}
