.home-hero-bg {
    background-image: url(../assets/Gutschein-Allianz-Arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.home-hero-bg h1{
    color: white;
    font-size: 70px;
    margin-left: 30px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-hero-bg h4 {
    color: white;
    padding-top: 490px;
    width: 500px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

@media (max-width:800px) {
    .home-hero-bg {
        height: 40vh;
    }

    .home-hero-bg h4 {
        padding-top: 100px;
    }

    .home-hero-bg h1 {
        font-size: 25px;
    }




}




