.newsContainer-artikel {
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex: 1px;
}

.newsContainer-artikel p {
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.Container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    padding: 80px;



}

.Container1 .news-img {
    width: 400px;
   
  


}

.newsContainer h1 {
    width: 100%;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    background-color: red;

}

.newsContainer-artikel div {
    text-align: center;
}

.newsButton {
    border-radius: 5px;
    text-decoration: none;
}

.newsButton-1 p {
    color: red;
    font-size: smaller;
}

.newsButton a {
    text-decoration: none;
    color: red;
    padding: 5px;
}



@media (max-width:800px) {
    .news-img {
        width: 100px;
        border: 5px solid red;
    }

    .newsContainer {
        margin-right: 150px;
    }

    .newsContainer h1 {

        margin-right: 500px;
    }


}