.newsContainer-artikel {
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex: 1;
}

.newsContainer-artikel p {
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    padding: 100px;


}


.newsContainer h1 {
    width: 100%;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    background-color: red;

}

.newsButton {
    border-radius: 5px;
    text-decoration: none;
}

.newsButton a {
    text-decoration: none;
    color: red;
    padding: 5px;
}

@media (max-width:800px) {
    news-img {
        width: 100px;
        border: 5px solid red;
    }


}