.section2 {
    width: 100%;
}


.section2 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    font-size: 30px;
   
}


.section2 h2 {
    text-align:justify;
    padding: 30px;
    margin-right: 10px;
    

}

.section2 img {
    margin-left: 30px;

}