.shopContainer {

    margin-bottom: 15px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 10px;
    /* padding: 10px; */



}

.btn button {
    border-radius: 10px;
    margin-left: 10px;
    font-size: 19px;
    padding: 5px;
    color: red;
    background-color: rgb(233, 225, 225);

}

.btn button:hover {
    background: red;
    color: white;
}


.container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    border: 3px;
    height: 7rem;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: white;

}


.rabatt {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4rem;
    margin-right: 10rem;
    font-family: sans-serif
}


.winner {

    border: 2px solid white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.cardContainer {
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.cardContainer p {
    margin: 0;
}

.cardContainer button:hover {
    color: red;
    background-color: white;
}


.cardContainer button {
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}

.priceOld {
    text-decoration: line-through;
}

.product {
    font-size: 20px;
}

.priceRow-p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: line-through;


}

.priceRow {
    font-size: 20px;
}

.karten {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 232, 232);
    border-radius: 10px;
}

.karten img {
    width: 100%;
    height: 400px;
    padding: 10px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

@media (max-width:800px) {
    img {
        width: 100px;
        height: inherit;

    }

    .rabatt {
        margin-right: 0px;
        padding: 5px;

        font-size: 35px;
    }


    /* .btn-internal {
        
        
    } */

}